html * {
    font-family: arial,sans-serif;
    color: #222;
}

html, body, main {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: .875rem;
}

.app-links {
    font-size: .75rem;
}
a {
    text-decoration: none;
}

#account {
    border-radius: 100%;
}
.flex-parent-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.flex-parent-row-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4375rem .625rem;
}

nav li {
    padding: 0 .5rem;
}
.searchbar {
    display: flex;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;
    width: 36rem;
    margin: 2rem 0;
}

.searchbar:hover {
    box-shadow: 0px 0px 6px rgb(194, 194, 194);
}

.textbox {
    font-size: 16px;
    flex-grow: 1;
    border: none;
    margin: 10px;
}

.textbox:focus-visible {
    outline: none;
}

label {
    padding-left: 15px;
}

.md-20 { font-size: 20px; color:rgb(156, 156, 156)}

.search-buttons {
    display: flex;
    justify-content: center;
}

.button {
    font-size: .875rem;
    background:rgb(245, 245, 245);
    border: none;
    border-radius: 4px;
    margin: .3125rem;
    padding: .5rem 1rem;
}

.button:hover {
    border: 1px solid rgb(216, 216, 216);
    margin: .25rem;
    box-shadow: 0 1px 1px rgb(216, 216, 216);
}