html * {
    font-family: arial,sans-serif;
    color: #222;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}